/* bodyのスタイル */
body {
  background-color: #f4f4f4;  /* 背景色 */
  margin: 0;  /* ページの余白をゼロに */
  padding: 0; /* ページの余白をゼロに */
}

/* ヘッダーのスタイル */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7edc92;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;  /* パディングを追加 */
  margin: 0;
}

/* 掲示板タイトル */
.keiziban {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}

/* 新規スレッドリンク */
.sakusei {
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  margin-left: 20px;
  white-space: nowrap;  /* テキストが折り返されないように */
  text-decoration:underline solid #ffffff;
}

/* スレッドリストのスタイル */
.thread-list {
  margin: 20px auto 0;  /* 上部マージンと自動左右中央寄せ */
  width: 800px;  /* 横幅設定 */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;  /* 背景色 */
}

/* スレッドカードのスタイル */
.thread-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  font-size: 18px;
}

/* スレッドカードのホバー時のスタイル */
.thread-card:hover {
  background-color: #f1f1f1;
}

/* 新規スレッドリンクのスタイル */
.new-thread-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding-left: 10px;
  display: inline-block;
  margin-top: 5px;
}



